/* https://animista.net/ */

* {
    font-family: cmuTypewriter;
    color:#FFFDFA;
    scrollbar-width: none;
}

@font-face {
    font-family: cmuTypewriter;
    src: url(../deicidiumPage/fonts/cmuntt.ttf);
}

@font-face {
    font-family: zenDots;
    src: url(fonts/ZenDots-Regular.ttf);
}

body {
    padding: 0px;
    margin: 0px;
    border-width:0px;
    background-color: #002424;
    position:relative;
    z-index:-15;
}

strong {
    font-weight: 900;
}

.link1 {
    color:#FFFDFA;
    text-decoration:none;
    position:relative;
    display:inline-block;
    z-index: 1;
}

.link1::after {
    background:#43F7E9;
    content: "";
    position:absolute;
    width: 100%;
    transform:scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transition: transform 0.25s ease;
    transform-origin: bottom right;
    z-index: -1;
}

.link1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:hover {
    cursor: pointer;
}

.logo {
    height:72px;
    width:72px;
    -webkit-animation: logo 30s linear infinite both,
        logoSpawn 3s cubic-bezier(.28,.87,.59,1.47) both;
        animation: logo 30s linear infinite both,
            logoSpawn 3s cubic-bezier(.28,.87,.59,1.47) both;
    animation-play-state:running;
}

@keyframes logoSpawn {
    0% {
        opacity: 0;
        scale: 0.35;
    }
    100% {
        opacity:1;
        scale:0.85;
    }
}

@-webkit-keyframes logoSpawn {
    0% {
        opacity: 0;
        scale: 0.35;
    }
    100% {
        opacity:1;
        scale:0.85;
    }
}

@keyframes logo {
    0% {
        -webkit-transform: rotate(0);
            transform:rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    }
}

@-webkit-keyframes logo {
    0% {
        -webkit-transform: rotate(0);
            transform:rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    }
}

.LogoAndTitleFlex {
    height:100%;
    display:flex;
    align-items: center;
    justify-content:left;
}

.flexBoxTop:hover {
    border-color: #43F7E9;
    background-color:#003333;
}

.flexBoxTop {
    display: flex;
    max-width: 100vw;
    width:100vw - 32px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
    align-items: center;
    background-color: #002424;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style:solid;
    border-color:#43f7e850;
    transition: border-color 0.3s ease-out,
        background-color 0.3s ease-out;
    z-index: 30;
    top:0;
    position:sticky;
}

.topBarButtonContainer {
    display:flex;
    height: min-content;
    width: 25%;
    padding-top: -8px;
    padding-bottom:-8px;
    justify-content:flex-end;
    align-content:center;
    gap:32px;
    color:#FFFDFA;
}

.topTitle {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    color: #FFFDFA;
    text-align: left;
    font-size:32px;
    align-items:center;
}

.mainBodyAndSideBar {
    display:flex;
    height:100vh;
    position:relative;
    z-index:-15;
}

.sideBar {
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    gap:24px;
    width:25%;
    height:100%;
    border-right-width:2px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 2px;
    border-style: solid;
    border-color:#43f7e850;
    border-top-color:#43f7e800;
    background-color:#002424;
    padding: 16px;
    padding-left:24px;
    margin-top: -2px;
    transition: border-color 0.3s ease-out,
        background-color 0.3s ease-out;
    left:0;
    position:fixed;
    z-index:10;
}

.sideBar:hover {
    border-color:#43F7E9;
    background-color:#003333;
    z-index: 30;
}

.sideBarSection {
    color: #FFFDFA;
    font-size: 20px;
}

.mainBody {
    box-sizing:border-box;
    width:80%;
    height: 100%;
    margin-left:25%;
    position:relative;
    right:0;
    overflow-x:hidden;
    display:inline-block;
    z-index:-15;
}

.mainBody::before {
    content: "";
    position:absolute;
    z-index: -5;
    width:calc(100% + 128px);
    height: 150%;
    top:-64px;
    left:-128px;
    background-size: 64px 64px;
    background-image:url(images/grid.svg);
    background-repeat:repeat;
    animation: moveGrid 2s linear infinite both,
        appearGrid 1.5s linear both;
        -webkit-animation: moveGrid 2s linear infinite both,
            appearGrid 1.5s linear both;
}

@keyframes appearGrid {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes appearGrid {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes moveGrid {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(128px, 64px);
    }
}

@-webkit-keyframes moveGrid {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(128px,64px);
    }
}

.sectionOne {
    box-sizing:border-box;
    margin:0px;
    padding:48px;
    height:fit-content;
}

.secOneHeader {
    width: 100%;
    margin:0px;
    font-family:zenDots;
    font-size: 6vw;
    color:transparent;
    background-image: linear-gradient(90deg, #43f7e8aa 50%, white 50%);
    background-position:100%;
    background-size:200% 100%;
    background-clip:text;
    -webkit-background-clip: text;
    transition: background-position .5s ease;
    position:relative;
}

.secOneHeader::after {
    background:#FFFDFA;
    position:absolute;
    width:100%;
    content:"";
    transform:scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    transition: transform 0.5s ease;
    transform-origin: bottom right;
    z-index: -1;
}

.secOneHeader:hover {
    background-position:0;
}

.secOneHeader:hover::after {
    transform:scaleX(1);
    transform-origin:bottom right;
}

.secOneText {
    width: 66%;
    font-size: 24px;
}

.highlightableText {
    text-decoration: none;
    background-image: linear-gradient(#43F7E9, #43F7E9);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .3s;
}
.highlightableText:hover {
    background-size:100% 3px;
}
.highlightableRed {
    text-decoration: none;
    background-image: linear-gradient(#e54b4b, #e54b4b);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .3s;
}
.highlightableRed:hover {
    background-size: 100% 3px;
}
.red {
    color:#e54b4b;
}
.secOneHeader2 {
    text-align:right;
    width: 100%;
    margin:0px;
    font-family:zenDots;
    font-size: 6vw;
    color:transparent;
    background-image: linear-gradient(90deg, #43f7e8aa 50%, white 50%);
    background-position:0%;
    background-size:200% 100%;
    background-clip:text;
    -webkit-background-clip: text;
    transition: background-position .5s ease;
    position:relative;
}

.secOneHeader2::after {
    background:#43f7e8aa;
    position:absolute;
    width:100%;
    content:"";
    transform:scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    transition: transform 0.5s ease;
    transform-origin: bottom left;
    z-index: -1;
}

.secOneHeader2:hover {
    background-position:100%;
}

.secOneHeader2:hover::after {
    transform:scaleX(1);
    transform-origin:bottom left;
}

.secOneText2 {
    width: 66%;
    font-size: 24px;
}

.flexAlign {
    display:flex;
    justify-content:flex-end;
    width:100%;
    text-align: right;
}

.sectionTwo {
    height: fit-content;
    box-sizing:border-box;
    background: #30aaa0;
    padding:48px;
    z-index:-2;
    position:relative;
}

.secTwoHeader {
    width: 100%;
    margin:0px;
    font-family:zenDots;
    font-size: 6vw;
    color:transparent;
    background-image: linear-gradient(90deg, #e54b4b 50%, white 50%);
    background-position:100%;
    background-size:200% 100%;
    background-clip:text;
    -webkit-background-clip: text;
    transition: background-position .5s ease;
    position:relative;
}

.secTwoHeader::after {
    background:#FFFDFA;
    position:absolute;
    width:100%;
    content:"";
    transform:scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    transition: transform 0.5s ease;
    transform-origin: bottom right;
    z-index: -1;
}

.secTwoHeader:hover {
    background-position:0;
}

.secTwoHeader:hover::after {
    transform:scaleX(1);
    transform-origin:bottom right;
}